# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
.env

# Datasets
data/
datasets/

checkpoints/
*.pt
*.pth
*.ckpt
*.h5

# Logs/results
logs/
results/
outputs/

# Large files
*.zip
*.tar.gz

# VS Code
.vscode/